[submodule "liquidprompt"]
  path = liquidprompt
  url = https://github.com/jsleroy/liquidprompt.git
  ignore = untracked
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
