# Ignore PK configuration
pktoolsrc

# Ignore VIM swap files anywhere in the tree
*.sw[opnm]

# Ignore all files in config/
config/

vim/bundle

# Except the ones we explicitely wants to track
!config/Terminal/terminalrc
!config/openbox/
!config/nitrogen/
!config/meld/
!config/ipython/
!config/byobu/
!config/gitg/
!config/htop/
!config/archey3.cfg
