[submodule "vim/bundle/pathogen"]
  path = vim/bundle/pathogen
  url = git://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule "vim/bundle/supertab"]
  path = vim/bundle/supertab
  url = git://github.com/ervandew/supertab.git
  ignore = untracked
[submodule "libui-sh"]
  path = libui-sh
  url = git://github.com/Dieterbe/libui-sh.git
[submodule "vim/bundle/mark"]
  path = vim/bundle/mark
  url = git@github.com:peterjmorgan/mark-2.8.0.git
  ignore = untracked
[submodule "vim/bundle/align"]
  path = vim/bundle/align
  url = git://github.com/vim-scripts/Align.git
  ignore = untracked
[submodule "vim/bundle/xoria256"]
  path = vim/bundle/xoria256
  url = git://github.com/vim-scripts/xoria256.vim.git
  ignore = untracked
[submodule "vim/bundle/tagbar"]
  path = vim/bundle/tagbar
  url = git://github.com/majutsushi/tagbar.git
  ignore = untracked
[submodule "liquidprompt"]
  path = liquidprompt
  url = https://github.com/jsleroy/liquidprompt.git
  ignore = untracked
[submodule "vim/bundle/vim-airline"]
  path = vim/bundle/vim-airline
  url = https://github.com/bling/vim-airline
  ignore = untracked
[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/base16"]
	path = vim/bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/drawit"]
	path = vim/bundle/drawit
	url = git@github.com:hrj/vim-DrawIt.git
