[submodule "dotty"]
	path = dotty
	url = git@github.com:jsleroy/dotty.git
[submodule "private"]
	path = private
	url = git@github.com:jsleroy/dotfiles-private.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:jsleroy/kickstart.nvim.git
